{:kotoba.app/id "cloud.itonami.isic-920", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreifq5z356asbgqg3mqagqqebo2fkup3fwi5kjm326t2uujopnyghze", :kotoba.app/embed-url "ipfs://bafkreifq5z356asbgqg3mqagqqebo2fkup3fwi5kjm326t2uujopnyghze", :published {:archive "https://kotobase.net/ipfs/bafkreifq5z356asbgqg3mqagqqebo2fkup3fwi5kjm326t2uujopnyghze", :size 72652, :put-status 201, :get-status 200, :at "2026-08-15T13:52:13.220Z"}}
